.adContainer{
    width: 60%;
    height: 250px;
    background-color: gray;
    background-image: url("https://themewagon.github.io/studylab/images/bg_4.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.adContainerC{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ad{
    width: 100%;
    height: 250px;
    z-index: 1;
    background-color: #e449ad;
    opacity: 0.6;
}
.secondAd{
    width:60%;
    height: 250px;
    position: absolute;
    background-color: transparent;
    top: 75px;
}
.firstTextContainer{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.firstText{
    color: white;
    font-size: 25px;
}
.secondTextContainer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    padding-top: 10px;
}
.thirthTextContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.buttonThirth{
    width: 180px;
    height: 75px;
    background-color: rgb(50, 132, 199);
    font-size: 21px;
    border-radius:5px;
    color: white;
    border: transparent;
}
.secondText{
    font-size: 22px;
    opacity: 0.8;
}