.footerTitle{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    
}
.aboutText{
    color: white;
    font-size: 18px;
}
.footerIcon1{
    color: white;
    font-size: 20px;
}
.footerIcon2{
    color: rgb(20, 216, 164);
    font-size: 17px;
}
.footerContainer{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 400px;
    background:linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);
    height: 660px;
    width: 100vw;
    padding: 0px 0px 112px;
}
.footerMainContainer{
    display: flex;
    gap: 10px;
    height: 548px;
    width: 1140px;
    
    margin: 0px 222.667px;
        padding:0px 15px ;
}
.footerAC{
    
    height: 455px;
    width: 285px;
    padding: 48px 15px 0px; 
}
.footerAbout{
    height: 258px;
    width: 255px;
    
    padding: 48px 0px 0px;
    
}
.titleContainer{
    display: flex;
    align-items: center;
    width: 255px;
    height: 27px;
    margin: 0px 0px 40px;
    
}
.aboutDescription{
    width: 255px;
    height: 143px;
    margin: 0px 0px 16px;
}
.aboutIconContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    width: 158px;
    margin: 0px 0px 16px;
    
}
.aboutIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(20, 216, 164);
}
.footerDesk{
    display: flex;
    flex-direction: column;
    height: 383px;
    width: 207px;
    
    margin: 0px 0px 24px 48px;
    padding: 48px 0px 0px;
}
.titleContainer2{
    width: 207px;
    height: 27px;
    margin: 0px 0px 40px;
    
}
.deskMain{
    height: 44.79px;
    width: 207px;
    padding: 8px 0px;
    
}
.footerRecent{
    height: 383px;
    width: 255;
    
    margin: 0px 0px 24px;
    padding: 48px 0px 0px; 
}
.titleContainer3{
    width: 255px;
    height: 27px;
    margin: 0px 0px 40px;
    
}
.footerHave{
    display: flex;
    flex-direction: column;
    height: 295px;
    width: 255px;
    margin: 0px 0px 24px;
    padding: 48px 0px 0px;
    
}
.footerHaveMain{
    
    height: 180px;
    width: 255px;
    margin: 0px 0px 16px;
    
}
.haveMain{
    display: flex;
    height: 72px;
    width: 255px;
    
    margin: 0px 0px 15px;
}
.footerHaveIcon{
    height: 72px;
    width: 40px;
    padding: 2px 0px 0px;

}
.footerHaveTextContainer{
    height: 72px;
    width: 215px;
}
.haveMain2{
    display: flex;
    height: 39px;
    width: 255px;
    
    margin: 0px 0px 15px;
}
.footerHaveIcon2{
    height: 39px;
    width: 40px;
    padding: 2px 0px 0px;
    
}
.footerEnd{
    height: 29px;
    width: 930px;
    margin: 0px 0px 16px;
}