.sectionContainerSN{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.itemContainerSN{
    height: 15%;
    width: 70%;
    justify-content: center;
    display: flex;
}
.itemHeaderTextOneSN{
    color: rgb(50, 132, 199);
    font-size:19px;
}
.itemHeaderTextTwoSN{
    color: black;
    font-size: 25px;
    margin-top: 10px;
}
.itemHeaderTextOneContainerSN{
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: center;
}
.itemHeaderTextTwoContainerSN{
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.categoryContainerSN{
    width: 70%;
    height: 50%;

}
.categorySN{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.occcupationSN{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: gray;
    background-size : cover;
}
.buttonContainerSN{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonSN{
    height: 50px;
    /* width: 200px; */
    border: transparent;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    background-color:  rgb(50, 132, 199);
}
.textSN{
    font-size: 20px;
    z-index: 1;
    color:  black;
}
