.testimonialContainerTM{
    height: 320px;
    width: 280px;
    background-color: white;
    border-radius: 7px;
    display: inline-block;
    margin-right: 25px;
}
.starRateTM{
    color: rgb(235, 159, 7);
    margin-left: 3px;
}
.headerTM{
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.contentTestimonialsTM{
    width: 100%;
    height: 50%;
    padding-left: 10px;
    padding-right: 20px;
}
.contentTextTM{
    color: gray;
    font-size: 19px;
}
.bottomTestimonialsContainerTM{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
}
.profileTestimonialsTM{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.profileDivTM{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.infoTestimonialsTM{
    height: 80%;
    width: 55%;
    padding-left: 10px;
    padding-top: 10px;
}
.nameTestimonialsTM{
    font-size: 22px;
}
.proffesionTestimonialsTM{
    font-size: 15px;
    color: rgb(9, 105, 183);
}
.backgroundContainerTM{
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
}
.testimonialsContainerTM{
    display: inline-block;
    height: auto;
    width: auto;
    z-index: 3;
    margin-right: 10px;
}
.halfContainerTM{
    background-color: rgb(229, 228, 228);
    width: 50%;
    height: 100%;
    position: absolute;
    left: 1px;
    z-index: 2;
}
.secondHalfContainerTM{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 1px;
    z-index: 2;
    background-image: url("https://themewagon.github.io/studylab/images/bg_2.jpg");
    background-size: cover;
}
.firstTextInHalfTM{
    color: rgb(9, 105, 183);
    font-size: 30px;
}
.secondTextInHalfTM{
    color: black;
    font-size: 40px;
}
.textContainerTM{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textTM{
    width: 400px;
    height: auto;
}